@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@font-face {
  font-family: "Lobster", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
}
@font-face {
  font-family: "Concert One", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

#login .Login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 20px;
  background-color: whitesmoke;
}
#login .Login .loginContainer {
  display: flex;
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  flex-direction: column;
  justify-content: center;
  background-color: #009cde;
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
  border-radius: 1vw;
}
#login .Login .loginContainer .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
#login .Login .loginContainer .logo img {
  width: 15vw;
}
#login .Login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}
#login .Login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}
#login .Login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}
#login .Login .loginContainer .btnContainer button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: crimson;
  cursor: pointer;
}
#login .Login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}
#login .Login .loginContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}
#login .Login .loginContainer .btnContainer p span:hover {
  color: red;
}
#login .Login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

.InitSection {
  background-color: whitesmoke;
}
.InitSection .navbar {
  position: fixed;
  width: 100vw;
  height: 7vh;
}
.InitSection .navbar .btn-group {
  display: none;
}
.InitSection .navbar .navbar-toggler {
  margin: 5px;
  margin-left: 20px;
  width: 3vw;
  height: 3vw;
}
.InitSection .navbar .collapse {
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.InitSection .navbar .collapse .navbar-brand img {
  width: 3vw;
  height: 2vw;
}
.InitSection .navbar .collapse #list {
  margin-top: 42px;
}
.InitSection .navbar .form-inline {
  padding-right: 5vw;
}
.InitSection .navbar a {
  margin-right: 2vw;
}
.InitSection .Header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.InitSection .Header .containerHeader {
  width: 100vw;
  height: 56vw;
  background-color: #6185fc;
}
.InitSection .body {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.InitSection .body .containerBody {
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: 170vh;
  background-color: white;
  border-radius: 1vw;
  font-family: "Concert One", cursive;
  padding-top: 3vw;
  justify-content: space-evenly;
}
.InitSection .body .containerBody .divider {
  width: 60vw;
  height: 2px;
  background-color: whitesmoke;
}
.InitSection .body .containerBody .title {
  display: flex;
  font-family: "Lobster", cursive;
}
.InitSection .body .containerBody .title h1 {
  font-size: 5vw;
}
.InitSection .body .containerBody .container {
  margin-top: 30px;
  width: 60vw;
  height: 35vh;
  display: flex;
  flex-direction: row;
}
.InitSection .body .containerBody .container img {
  height: 20vw;
  border-radius: 1vw;
}
.InitSection .body .containerBody .container .content-info {
  padding-left: 30px;
  display: flex;
  width: 100vw;
  height: 40vh;
  justify-content: flex-end;
  align-items: flex-start;
}
.InitSection .body .containerBody .container .content-info h1 {
  text-align: end;
  font-size: 2vw;
}
.InitSection .body .containerBody .container2 {
  margin-top: 30px;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.InitSection .body .containerBody .container2 img {
  height: 20vw;
  border-radius: 1vw;
}
.InitSection .body .containerBody .container2 .content-info {
  padding-right: 30px;
  display: flex;
  width: 100vw;
  height: 40vh;
  justify-content: center;
  align-items: center;
}
.InitSection .body .containerBody .container2 .content-info h1 {
  text-align: start;
  font-size: 2vw;
}
.InitSection .body .TheGrid {
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
  align-items: center;
  flex-wrap: wrap;
  height: 120vh;
  margin-bottom: 60px;
  margin-top: 60px;
}
.InitSection .body .TheGrid .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1px;
  background-color: white;
  width: 44.7vw;
  height: 62vh;
  font-family: "Concert One", cursive;
}
.InitSection .body .TheGrid .container h1 {
  font-size: 1.5vw;
}
.InitSection .body .TheGrid .container .containerTitle {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 43vw;
  height: 10vh;
}
.InitSection .body .TheGrid .container .containerImage {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #02b8f0;
  width: 43vw;
  height: 47vh;
}
.InitSection .body .TheGrid .container .containerImage img {
  width: 43vw;
  height: 47vh;
}
.InitSection .body .TheGrid .container .containerImage #learning {
  width: 43vw;
  height: 20vh;
  margin-bottom: 20px;
}
.InitSection .body .TheGrid .container #contentImageD {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: crimson;
}
.InitSection .body .TheGrid .container #contentImageD #dreams {
  width: 30vw;
  height: 35vh;
}
.InitSection .body .contenedorObjetivos {
  display: flex;
  flex-direction: row;
  width: 90vw;
  border-radius: 1vw;
  background-color: white;
  margin-bottom: 30px;
}
.InitSection .body .contenedorObjetivos .containerText {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.InitSection .body .contenedorObjetivos .containerText h1 {
  font-family: "Lobster", cursive;
  font-size: 4vw;
}
.InitSection .body .contenedorObjetivos .objetivo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 63vh;
  margin-bottom: 30px;
  justify-content: center;
}
.InitSection .body .contenedorObjetivos .objetivo .containerText2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  width: 40vw;
  height: 5vh;
  background-color: whitesmoke;
}
.InitSection .body .contenedorObjetivos .objetivo .containerText2 h1 {
  font-family: "Concert One", cursive;
  font-size: 1.5vw;
}
.InitSection .body .contenedorObjetivos .objetivo2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1px;
  width: 50vw;
  background-color: cornflowerblue;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
}
.InitSection .body .contenedorObjetivos .objetivo2 img {
  width: 40vw;
}

@media (max-width: 992px) {
  .InitSection .navbar {
    position: fixed;
    position: fixed;
    width: 100vw;
    height: 7vh;
  }
  .InitSection .navbar .btn-group {
    display: block;
    position: fixed;
    margin-left: 2vw;
    width: 4vw;
    height: 6vh;
  }
  .InitSection .navbar .btn-group #list {
    margin-top: 38px;
  }
  .InitSection .navbar .navbar-toggler {
    position: fixed;
    margin: 5px;
    margin-left: 20px;
    width: 3vw;
    height: 3vw;
  }
  .InitSection .navbar .collapse {
    position: fixed;
    font-size: 1vw;
    display: none;
    align-items: center;
    justify-content: center;
  }
  .InitSection .navbar .collapse .navbar-brand {
    position: fixed;
  }
  .InitSection .navbar .collapse .navbar-brand img {
    width: 3vw;
    height: 2vw;
  }
  .InitSection .navbar .form-inline {
    padding-right: 5vw;
  }
  .InitSection .navbar a {
    margin-right: 2vw;
  }
}
@media (max-width: 950px) {
  .InitSection .body .containerBody {
    display: flex;
    margin-top: 30px;
    margin-bottom: 5vw;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: 170vh;
    background-color: white;
    border-radius: 1vw;
    font-family: "Concert One", cursive;
    padding-top: 3vw;
    justify-content: space-evenly;
  }
  .InitSection .body .containerBody .divider {
    width: 60vw;
    height: 2px;
  }
  .InitSection .body .containerBody .title {
    display: flex;
    font-family: "Lobster", cursive;
  }
  .InitSection .body .containerBody .title h1 {
    font-size: 5vw;
  }
  .InitSection .body .containerBody .container {
    margin-top: 0px;
    width: 60vw;
    height: 25vh;
    display: flex;
    flex-direction: row;
  }
  .InitSection .body .containerBody .container img {
    height: 20vw;
    border-radius: 1vw;
  }
  .InitSection .body .containerBody .container .content-info {
    padding-left: 30px;
    display: flex;
    width: 100vw;
    height: 40vh;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .InitSection .body .containerBody .container .content-info h1 {
    text-align: end;
    font-size: 2vw;
  }
  .InitSection .body .containerBody .container2 {
    margin-top: 30px;
    width: 60vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .InitSection .body .containerBody .container2 img {
    height: 20vw;
    border-radius: 1vw;
  }
  .InitSection .body .containerBody .container2 .content-info {
    padding-right: 30px;
    display: flex;
    width: 100vw;
    height: 40vh;
    justify-content: center;
    align-items: center;
  }
  .InitSection .body .containerBody .container2 .content-info h1 {
    text-align: start;
    font-size: 2vw;
  }
  .InitSection .body .TheGrid {
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    height: 100vh;
  }
  .InitSection .body .TheGrid .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1px;
    background-color: white;
    width: 44.7vw;
    height: 50vh;
    font-family: "Concert One", cursive;
  }
  .InitSection .body .TheGrid .container h1 {
    font-size: 2vw;
  }
  .InitSection .body .TheGrid .container .containerTitle {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 43vw;
    height: 5vh;
  }
  .InitSection .body .TheGrid .container .containerImage {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #02b8f0;
    width: 43vw;
    height: 35vh;
  }
  .InitSection .body .TheGrid .container .containerImage img {
    width: 43vw;
    height: 35vh;
  }
  .InitSection .body .TheGrid .container .containerImage #learning {
    width: 40vw;
    height: 15vh;
  }
  .InitSection .body .TheGrid .container #contentImageD {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: crimson;
  }
  .InitSection .body .TheGrid .container #contentImageD #dreams {
    width: 30vw;
    height: 20vh;
    margin-bottom: 20px;
  }
  .InitSection .body .contenedorObjetivos {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 40vh;
    border-radius: 1vw;
    background-color: white;
  }
  .InitSection .body .contenedorObjetivos .containerText {
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .InitSection .body .contenedorObjetivos .containerText h1 {
    font-family: "Lobster", cursive;
    font-size: 4vw;
  }
  .InitSection .body .contenedorObjetivos .objetivo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
  }
  .InitSection .body .contenedorObjetivos .objetivo .containerText2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40vw;
    background-color: whitesmoke;
    margin-top: 2vw;
  }
  .InitSection .body .contenedorObjetivos .objetivo .containerText2 h1 {
    font-family: "Concert One", cursive;
    font-size: 1.5vw;
  }
  .InitSection .body .contenedorObjetivos .objetivo2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1px;
    width: 50vw;
    background-color: cornflowerblue;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
  }
  .InitSection .body .contenedorObjetivos .objetivo2 img {
    width: 40vw;
  }
}
@media (max-width: 750px) {
  .InitSection .body .containerBody {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: 160vh;
    background-color: white;
    border-radius: 1vw;
    font-family: "Concert One", cursive;
    padding-top: 3vw;
    justify-content: space-evenly;
  }
  .InitSection .body .containerBody .divider {
    width: 60vw;
    height: 2px;
    background-color: whitesmoke;
  }
  .InitSection .body .containerBody .title {
    display: flex;
    font-family: "Lobster", cursive;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .InitSection .body .containerBody .title h1 {
    font-size: 5vw;
  }
  .InitSection .body .containerBody .container {
    margin-top: 30px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  .InitSection .body .containerBody .container img {
    height: 30vw;
    border-radius: 1vw;
  }
  .InitSection .body .containerBody .container .content-info {
    display: flex;
    width: 45vw;
    height: 30vh;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px;
  }
  .InitSection .body .containerBody .container .content-info h1 {
    text-align: center;
    font-size: 2.5vw;
  }
  .InitSection .body .containerBody .container2 {
    margin-top: 30px;
    width: 60vw;
    height: 40vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .InitSection .body .containerBody .container2 img {
    height: 20vw;
    border-radius: 1vw;
  }
  .InitSection .body .containerBody .container2 .content-info {
    display: flex;
    width: 45vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px;
  }
  .InitSection .body .containerBody .container2 .content-info h1 {
    text-align: center;
    font-size: 2.5vw;
  }
  .InitSection .body .contenedorObjetivos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 1vw;
    align-items: center;
    justify-content: center;
    height: 60vh;
    margin-bottom: 30px;
    width: 89vw;
  }
  .InitSection .body .contenedorObjetivos .containerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .InitSection .body .contenedorObjetivos .containerText h1 {
    font-family: "Lobster", cursive;
    font-size: 4vw;
  }
  .InitSection .body .contenedorObjetivos .objetivo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 51vh;
    width: 89vw;
    margin: 0px 0px 0px;
    padding: 0px 0px 0px;
  }
  .InitSection .body .contenedorObjetivos .objetivo .containerText2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80vw;
    margin-top: 2vw;
  }
  .InitSection .body .contenedorObjetivos .objetivo .containerText2 h1 {
    font-family: "Concert One", cursive;
    font-size: 2vw;
  }
  .InitSection .body .contenedorObjetivos .objetivo2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px;
    width: 89vw;
    background-color: cornflowerblue;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
  }
  .InitSection .body .contenedorObjetivos .objetivo2 img {
    width: 30vw;
  }
}
@media (max-width: 664px) {
  .InitSection .body .containerBody {
    display: flex;
    margin-top: 30px;
    margin-bottom: 0px;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: 100vh;
    background-color: white;
    border-radius: 1vw;
    font-family: "Concert One", cursive;
    padding-top: 0vw;
    justify-content: space-evenly;
  }
  .InitSection .body .containerBody .divider {
    width: 60vw;
    height: 2px;
    background-color: whitesmoke;
  }
  .InitSection .body .containerBody .title {
    display: flex;
    font-family: "Lobster", cursive;
    margin-bottom: 0px;
    margin-top: 60px;
  }
  .InitSection .body .containerBody .title h1 {
    font-size: 5vw;
  }
  .InitSection .body .containerBody .container {
    margin-top: 0px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .InitSection .body .containerBody .container img {
    height: 30vw;
    border-radius: 1vw;
  }
  .InitSection .body .containerBody .container .content-info {
    display: flex;
    width: 45vw;
    height: 14vh;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px;
  }
  .InitSection .body .containerBody .container .content-info h1 {
    text-align: center;
    font-size: 3vw;
  }
  .InitSection .body .containerBody .container2 {
    margin-top: 30px;
    width: 60vw;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .InitSection .body .containerBody .container2 img {
    height: 25vw;
    border-radius: 1vw;
  }
  .InitSection .body .containerBody .container2 .content-info {
    display: flex;
    width: 45vw;
    height: 14vh;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px;
  }
  .InitSection .body .containerBody .container2 .content-info h1 {
    text-align: center;
    font-size: 3vw;
  }
  .InitSection .body .TheGrid {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 250vh;
    align-items: center;
    flex-direction: column;
  }
  .InitSection .body .TheGrid .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2px 0px 0px;
    width: 100vw;
    height: 60vh;
    padding: 0px 0px 0px;
    font-family: "Concert One", cursive;
  }
  .InitSection .body .TheGrid .container h1 {
    font-size: 2.5vw;
  }
  .InitSection .body .TheGrid .container .containerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43vw;
    height: 10vh;
  }
  .InitSection .body .TheGrid .container .containerImage {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #02b8f0;
    width: 70vw;
    height: 35vh;
  }
  .InitSection .body .TheGrid .container .containerImage img {
    width: 70vw;
    height: 35vh;
  }
  .InitSection .body .TheGrid .container .containerImage #learning {
    width: 55vw;
    height: 10vh;
    margin-bottom: 20px;
  }
  .InitSection .body .TheGrid .container #contentImageD {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: crimson;
  }
  .InitSection .body .TheGrid .container #contentImageD #dreams {
    width: 40vw;
    height: 20vh;
  }
}
@media (max-width: 600px) {
  .InitSection .body .TheGrid {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 130vh;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .InitSection .body .TheGrid .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1px;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 30vh;
    font-family: "Concert One", cursive;
    background-color: white;
  }
  .InitSection .body .TheGrid .container h1 {
    font-size: 2.5vw;
  }
  .InitSection .body .TheGrid .container .containerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43vw;
    height: 5vh;
  }
  .InitSection .body .TheGrid .container .containerImage {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #02b8f0;
    width: 60vw;
    height: 20vh;
  }
  .InitSection .body .TheGrid .container .containerImage img {
    width: 60vw;
    height: 20vh;
  }
  .InitSection .body .TheGrid .container .containerImage #learning {
    width: 50vw;
    height: 6vh;
    margin-bottom: 20px;
  }
  .InitSection .body .TheGrid .container #contentImageD {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: crimson;
  }
  .InitSection .body .TheGrid .container #contentImageD #dreams {
    width: 40vw;
    height: 10vh;
  }
  .InitSection .body .contenedorObjetivos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 1vw;
    align-items: center;
    justify-content: center;
    height: 23vh;
    margin-bottom: 30px;
    width: 89vw;
  }
  .InitSection .body .contenedorObjetivos .containerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .InitSection .body .contenedorObjetivos .containerText h1 {
    font-family: "Lobster", cursive;
    font-size: 4vw;
  }
  .InitSection .body .contenedorObjetivos .objetivo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 89vw;
    margin: 0px 0px 0px;
    padding: 0px 0px 0px;
  }
  .InitSection .body .contenedorObjetivos .objetivo .containerText2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80vw;
    margin-top: 2vw;
  }
  .InitSection .body .contenedorObjetivos .objetivo .containerText2 h1 {
    font-family: "Concert One", cursive;
    font-size: 2vw;
  }
  .InitSection .body .contenedorObjetivos .objetivo2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px;
    width: 89vw;
    background-color: cornflowerblue;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
  }
  .InitSection .body .contenedorObjetivos .objetivo2 img {
    width: 30vw;
  }
}

/*# sourceMappingURL=App.css.map */
